{% load staticfiles %}
{% load custom_tags %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}

<div id="{{media.prefix}}-group" class="inlineformset panel panel-default">
	{{ media.management_form }}
	<div class="panel-heading">
		<h4 class="dummy-button">Physical Mediums</h4>
		<a href="javascript:void(0)" class="addInlineMedium btn btn-primary pull-right">{{ "plus"|fa }} Add another</a>
		<div class="clearfix"></div>
	</div>
	
	<table class="panel-body" style="width:100%;">
		<tbody>
		{% for mdfrm in media %}
			<tr class='{% if forloop.last %} empty-form{% endif %} {% if mdfrm.errors %}danger{% endif %}' id='{{mdfrm.prefix}}'><td>
				<div class="panel panel-{% if mdfrm.errors %}danger{% else %}default{% endif %}">
				
					<div class="panel-heading" style="{%if not mdfrm.preexist %}padding-bottom:0;{% endif %}">
						<div class="btn-toolbar pull-right">
							<div class="btn-group field-DELETE">
								<a class="btn btn-danger btn-delete">
									Delete
								</a>
							</div>
						</div>
						
						{% if not mdfrm.preexist %}
							<ul class="modeSel nav nav-tabs" data-toggle="buttons" style="margin-bottom: -11px;">
								{% for radio in mdfrm.new_type %}
									<li class=" {% if radio.is_checked %} active{% endif %}">
										<a data-toggle="tab" data-target=".pane{{radio.choice_value}}">
											<label>{{ radio.tag }} {{ radio.choice_label }}</label>
										</a>
									</li>
								{% endfor %}
							</ul>
						{% else %}
							<h3 style="display:inline-block; line-height:20px; padding-top:7px; padding-bottom:7px;" class="panel-title">{% if mdfrm.preexist %}{{mdfrm.instance}}{% else %}New Medium{% endif %}</h3>
						{% endif %}
						
						<span class="hidden actualDeleteField">
							{{ mdfrm.DELETE }}
						</span>
						{% if mdfrm.has_auto_field or mdfrm.needs_explicit_pk_field %}{{ mdfrm.pk_field.field }}{% endif %}
						{{ mdfrm.fk_field.field }}
						{% spaceless %}
							{% for field in mdfrm %}
								{% if field.is_hidden %} {{ field }} {% endif %}
							{% endfor %}
						{% endspaceless %}
						<br style="clear:both; display:block; height:0;" />
					</div>
					
					<div class="panel-body">
						{% if not mdfrm.preexist %}
							<div class="tab-content">
								<div class="tab-pane pane1 {% if mdfrm.new_type.value == '1' %}active{% endif %}">
									{% crispy mdfrm.medium_form %}
								</div>
								<div class="tab-pane pane2 {% if mdfrm.new_type.value == '2' %}active{% endif %}">
									{{ mdfrm.loc_srch }}
									{{ mdfrm.index_srch }}
								</div>
							</div>
						{% else %}
							<div class="medium-form">
								{% crispy mdfrm.medium_form %}
							</div>
						{% endif %}
					</div>
				</div>
			</td></tr>
		{% endfor %}
		</tbody>
	</table>
	<div class="panel-footer">
	
		<a href="javascript:void(0)" class="addInlineMedium btn btn-primary pull-right">{{ "plus"|fa }} Add another</a>
		<div class="clearfix"></div>
	</div>
</div>

<script type="text/javascript">
	(function($) {
		$(document).ready(function($) {
			var rows = "#{{media.prefix}}-group tbody tr";
			/*var alternatingRows = function(row) {
				$(rows).not(".add-row").removeClass("row1 row2")
					.filter(":even").addClass("row1").end()
					.filter(rows + ":odd").addClass("row2");
			}
			var reinitDateTimeShortCuts = function() {
				// Reinitialize the calendar and clock widgets by force
				if (typeof DateTimeShortcuts != "undefined") {
					$(".datetimeshortcuts").remove();
					DateTimeShortcuts.init();
				}
			}
			var updateSelectFilter = function() {
				// If any SelectFilter widgets are a part of the new form,
				// instantiate a new SelectFilter instance for it.
				if (typeof SelectFilter != "undefined"){
					$(".selectfilter").each(function(index, value){
					  var namearr = value.name.split('-');
					  SelectFilter.init(value.id, namearr[namearr.length-1], false, "{% static "admin/" %}");
					});
					$(".selectfilterstacked").each(function(index, value){
					  var namearr = value.name.split('-');
					  SelectFilter.init(value.id, namearr[namearr.length-1], true, "{% static "admin/" %}");
					});
				}
			}
			var initPrepopulatedFields = function(row) {
				row.find('.prepopulated_field').each(function() {
					var field = $(this);
					var input = field.find('input, select, textarea');
					var dependency_list = input.data('dependency_list') || [];
					var dependencies = [];
					$.each(dependency_list, function(i, field_name) {
					  dependencies.push('#' + row.find('.field-' + field_name).find('input, select, textarea').attr('id'));
					});
					if (dependencies.length) {
						input.prepopulate(dependencies, input.attr('maxlength'));
					}
				});
			}*/
			
			$(document).on('click.bs.button.data-api', ".modeSel.nav li", function (e){
				$(e.target).button('toggle');
				$(e.target).closest('li').toggleClass('active', true);
				e.preventDefault();
			})
			
			$('.modeSel [data-toggle="tab"]').on('show.bs.tab', function (e) {
				e.preventDefault();
				var $targ = $(e.target);
				var $cont = $targ.closest('.panel').find('.tab-pane'+$targ.data('target'));
				var $parnt = $cont.parent();
				$parnt.find('.tab-pane').hide();
				$cont.show();
			})

			
			$(rows).find(".btn-delete").click(function(e) {
				var self = $(this);
				var row = self.parentsUntil("tbody").filter("tr");
				var dcb = row.find(".actualDeleteField input[type='checkbox']");
				var todelete = !dcb.prop('checked');
				dcb.prop('checked', todelete);
				self.html(todelete ? "Will Delete" : "Delete");
				
				row.find(".panel").toggleClass("panel-danger", todelete);
			});
	
			$(rows).formset({
				prefix: "{{media.prefix}}",
				addText: "Add another",
				addButton: $(".addInlineMedium"),
				formCssClass: "dynamic-{{media.prefix}}",
				deleteCssClass: "inline-deletelink",
				deleteText: "Remove",
				deleteHTML: '<a class="{deleteClass} btn btn-danger" href="javascript:void(0)">{deleteText}</a>',
				emptyCssClass: "empty-form",
				//removed: alternatingRows,
				/*added: (function(row) {
					initPrepopulatedFields(row);
					reinitDateTimeShortCuts();
					updateSelectFilter();
					alternatingRows(row);
					//Suit.after_inline.run("{{media.prefix}}", row);
				})*/
			});
		});
	})($);
</script>