{% extends 'mediadb/movies/movie_base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block js %}
	{{ block.super }}
	<script src="{% static 'mediadb/js/inlines.js' %}" type="text/javascript"></script>
{% endblock %}

<script type="javascript">
{% block loadedJS %}
	{{ block.super }}
	$("#id_title").typeahead({
		name: 'movies',
		remote: '{% url 'mediadb:ajax:tmdbSearch' %}?q=%QUERY',
		valueKey: 'title',
		engine: Hogan,
		{% verbatim %}
		template: [
			'<p class="mov_title">{{title}}<span class="mov_date">{{release_date}}</span></p>',
			'<br class="flatclear" />',
		].join(''), 
		{% endverbatim %}
	}).on('typeahead:selected', function (dsName, datum) {
		$("#id_tmdb_id").val(datum['id']);
	});
	
{% endblock %}
</script>

{% block full_content %}
	<div class="container">
	<form action="{{request.path}}" method="post" class="form">
		{% csrf_token %}
		<div class="well darkclear">
			<div class="form-group{% if form.tmdb_id.errors or form.title.errors %} has-error{% endif %}" style="margin: 0">
				<div style="width:6em; display: inline-block;">{{ form.tmdb_id.label_tag }}</div>
				<div style="display: inline-block;">{{ form.title.label_tag }}</div>
				<div class="input-group">
					<span class="input-group-btn">
						{% render_field form.tmdb_id class+="form-control" style+="width: 6em;" %}
						<span></span>
					</span>
					{% render_field form.title class+="form-control" %}
					
				</div>
				{% for e in form.tmdb_id.errors %}
					<span class="help-block"><strong>{{e}}</strong></span>
				{% endfor %}
				{% for e in form.title.errors %}
					<span class="help-block"><strong>{{e}}</strong></span>
				{% endfor %}
			</div>
		</div>
		
		{% include "mediadb/movies/partials/edit_mediums.html" with media=media only %}
		
		<div class="well darkclear">
			<div class="btn-toolbar">
				<button type="submit" class="btn btn-primary">{{button}}</button>
				<a href="{% if movie.pk %}..{% else %}/{% endif %}" class="btn btn-danger">Cancel</a>
			</div>
		</div>
	</form>
	</div>
{% endblock %}
